h1, h5, h3, th, td {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#counter {
    font-size: 120px;
}

th, td {
    font-size: 22px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

table#pull-requests {
    width:70%;
    margin-left:15%;
    margin-right:15%;
}